<main class="main">
  <div class="calendar">
    <app-header [title]="stringCurrentMonth">
      <button mat-button (click)="previousMonth()">Previous Month</button>
      <button mat-button (click)="today()">Today</button>
      <button mat-button (click)="nextMonth()">Next Month</button>
      <button mat-raised-button routerLink="/create-appointment">
        Create Appointment
      </button>
    </app-header>
    <div class="calendar__body">
      <div class="calendar__body__days">
        <div class="calendar__body__days__day__title">Sun</div>
        <div class="calendar__body__days__day__title">Mon</div>
        <div class="calendar__body__days__day__title">Tue</div>
        <div class="calendar__body__days__day__title">Wed</div>
        <div class="calendar__body__days__day__title">Thu</div>
        <div class="calendar__body__days__day__title">Fri</div>
        <div class="calendar__body__days__day__title">Sat</div>
      </div>
      @for (row of calendarDays | chunk : 7; track $index) {
      <div class="calendar__body__days">
        @for (day of row; track day.date) {
        <app-day [day]="day" />
        }
      </div>
      }
    </div>
  </div>
</main>
